@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-background-color {
  @apply bg-slate-900;
}


.dot {
  background-color: currentColor;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 2px;
}

.dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot::nth-of-type(3) {
  animation-delay: 0.4s;
}

.dot.round {
  @apply rounded-full;
}

.dot-container.sm > * {
  @apply h-1 w-1;
}

.dot-container.md > * {
  @apply h-1.5 w-1.5;
}

.dot-container.lg > * {
  @apply h-2 w-2;
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


.ripple-button > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  content: "";
  //opacity: 1;
  border-radius: 9999px;
  //border: black;
  animation: ripple-effect 0.8s linear;
}


@keyframes ripple-effect {
    0% {
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.3;
    }
    30% {
        transform: scale(10);
        opacity: 0.05;
    }
    100% {
        transform: scale(60);
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
    }
}

@layer base {

    body.loading * {
        transition: none !important;
    }

}

@layer components {

    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        background-color: red;
    }

}

@layer utilities {

    .test-utility {
        background-color: red;
    }

}