@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-background-color {
  @apply bg-slate-900;
}



.dot {
  background-color: currentColor;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 2px;
}

.dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot::nth-of-type(3) {
  animation-delay: 0.4s;
}

.dot.round {
  @apply rounded-full;
}

.dot-container.sm > * {
  @apply h-1 w-1;
}

.dot-container.md > * {
  @apply h-1.5 w-1.5;
}

.dot-container.lg > * {
  @apply h-2 w-2;
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


.ripple-button > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  content: "";
  //opacity: 1;
  border-radius: 9999px;
  //border: black;
  animation: ripple-effect 0.8s linear;
}


@keyframes ripple-effect {
    0% {
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.3;
    }
    30% {
        transform: scale(10);
        opacity: 0.05;
    }
    100% {
        transform: scale(60);
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
    }
}

@layer base {

    body.loading * {
        transition: none !important;
    }

    /* :root {
        --site-background: 255 115 179;
        --color-secondary: 111 114 185;
    }*/

    .site-background {
        @apply bg-light-palette-50/50 dark:bg-dark-palette-900;
    }

    /* BG ACCENTS */
    .background-accent-1 {
        @apply bg-light-palette-50 dark:bg-dark-palette-800;
    }
    .background-accent-2 {
        @apply bg-light-palette-100 dark:bg-dark-palette-700;
    }
    .background-accent-3 {
        @apply bg-light-palette-200 dark:bg-dark-palette-600;
    }
    .background-accent-4 {
        @apply bg-light-palette-300 dark:bg-dark-palette-400;
    }
    .background-accent-5 {
        @apply bg-light-palette-400 dark:bg-dark-palette-400;
    }
    .background-accent-6 {
        @apply bg-light-palette-500 dark:bg-dark-palette-400;
    }
    .background-accent-7 {
        @apply bg-light-palette-600 dark:bg-dark-palette-400;
    }

    .background-accent-8 {
        @apply bg-light-palette-700 dark:bg-dark-palette-400;
    }
    .background-accent-9 {
        @apply bg-light-palette-800 dark:bg-dark-palette-400;
    }

    .background-accent-10 {
        @apply bg-light-palette-900 dark:bg-dark-palette-400;
    }

    /* BG LIGHT ACCENTS */

    .background-light-accent-1 {
        @apply bg-light-palette-50;
    }
    .background-light-accent-2 {
        @apply bg-light-palette-100;
    }
    .background-light-accent-3 {
        @apply bg-light-palette-200;
    }
    .background-light-accent-4 {
        @apply bg-light-palette-300;
    }
    .background-light-accent-5 {
        @apply bg-light-palette-400;
    }
    .background-light-accent-6 {
        @apply bg-light-palette-500;
    }
    .background-light-accent-7 {
        @apply bg-light-palette-600;
    }
    .background-light-accent-8 {
        @apply bg-light-palette-700;
    }

    .background-light-accent-9 {
        @apply bg-light-palette-800;
    }
    .background-light-accent-10 {
        @apply bg-light-palette-900;
    }

    /* BG DARK ACCENTS */
    .background-dark-accent-1 {
        @apply bg-dark-palette-50;
    }
    .background-dark-accent-2 {
        @apply bg-dark-palette-100;
    }
    .background-dark-accent-3 {
        @apply bg-dark-palette-200;
    }
    .background-dark-accent-4 {
        @apply bg-dark-palette-300;
    }
    .background-dark-accent-5 {
        @apply bg-dark-palette-400;
    }
    .background-dark-accent-6 {
        @apply bg-dark-palette-500;
    }
    .background-dark-accent-7 {
        @apply bg-dark-palette-600;
    }
    .background-dark-accent-8 {
        @apply bg-dark-palette-700;
    }
    .background-dark-accent-9 {
        @apply bg-dark-palette-800;
    }
    .background-dark-accent-10 {
        @apply bg-dark-palette-900;
    }



/* TEXT LIGHT ACCENTS */

    .text-light-accent-1 {
        @apply text-light-palette-50;
    }
    .text-light-accent-2 {
        @apply text-light-palette-100;
    }
    .text-light-accent-3 {
        @apply text-light-palette-200;
    }
    .text-light-accent-4 {
        @apply text-light-palette-300;
    }
    .text-light-accent-5 {
        @apply text-light-palette-400;
    }
    .text-light-accent-6 {
        @apply text-light-palette-500;
    }
    .text-light-accent-7 {
        @apply text-light-palette-600;
    }
    .text-light-accent-8 {
        @apply text-light-palette-700;
    }

    .text-light-accent-9 {
        @apply text-light-palette-800;
    }
    .text-light-accent-10 {
        @apply text-light-palette-900;
    }

    /* BG DARK ACCENTS */
    .text-dark-accent-1 {
        @apply text-dark-palette-50;
    }
    .text-dark-accent-2 {
        @apply text-dark-palette-100;
    }
    .text-dark-accent-3 {
        @apply text-dark-palette-200;
    }
    .text-dark-accent-4 {
        @apply text-dark-palette-300;
    }
    .text-dark-accent-5 {
        @apply text-dark-palette-400;
    }
    .text-dark-accent-6 {
        @apply text-dark-palette-500;
    }
    .text-dark-accent-7 {
        @apply text-dark-palette-600;
    }
    .text-dark-accent-8 {
        @apply text-dark-palette-700;
    }
    .text-dark-accent-9 {
        @apply text-dark-palette-800;
    }
    .text-dark-accent-10 {
        @apply text-dark-palette-900;
    }




    .site-foreground {
        @apply bg-white dark:bg-dark-palette-800;
    }

    .site-foreground-accent-1 {
        @apply bg-light-palette-200/40 dark:bg-dark-palette-700;
    }
    
    .site-foreground-accent-2 {
        @apply bg-light-palette-200 dark:bg-dark-palette-700;
    }

    .text-color {
        @apply text-light-text-900 dark:text-white/95;
    }

    .text-color-accent-1 {
        @apply text-light-text-600 dark:text-white/90;
    }

    .text-color-accent-2 {
        @apply text-light-text-500 dark:text-white/75;
    }

    .text-color-accent-3 {
        @apply text-light-text-400 dark:text-white/60;
    }

    .text-color-accent- {
        @apply text-light-text-400 dark:text-white/50;
    }

    .text-dark {
        @apply text-dark-text-800;
    }

    .text-light {
        @apply dark:text-white/90;
    }
}

@layer components {

    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        background-color: red;
    }

    .tag {
        @apply inline-flex items-center h-min border;
    }
    .tag.closable.size-xs {
        @apply py-0.5 pl-2 pr-0.5 text-xs font-normal;
    }
    .tag.closable.size-sm {
        @apply py-1 pl-2 pr-1 text-xs font-normal;
    }
    .tag.closable.size-md {
        @apply py-1.5 pl-2.5 pr-1.5 text-xs font-medium;
    }
    .tag.closable.size-lg {
        @apply py-1.5 pl-3 pr-2 text-sm font-medium;
    }
    .tag.closable.size-xl {
        @apply py-2 pl-3.5 pr-2.5 text-sm font-normal;
    }


}

@layer utilities {

    .bg-primary {
        background-color: theme('colors.primary.500');
    }
    .bg-secondary {
        background-color: theme('colors.secondary.500');
    }
    .bg-tertiary {
        background-color: theme('colors.tertiary.500');
    }
    .bg-info {
        background-color: theme('colors.info.400');
    }
    .bg-success {
        background-color: theme('colors.success.400');
    }
    .bg-danger {
        background-color: theme('colors.danger.400');
    }
    .bg-warning {
        background-color: theme('colors.warning.400');
    }
    .bg-default {
        background-color: theme('colors.gray.200');
    }


    .text-primary {
        color: theme('colors.primary.100');
    }
    .text-secondary {
        color: theme('colors.secondary.100');
    }
    .text-tertiary {
        color: theme('colors.tertiary.100');
    }
    .text-info {
        color: theme('colors.info.900');
    }
    .text-success {
        color: theme('colors.success.900');
    }
    .text-danger {
        color: theme('colors.danger.900');
    }
    .text-warning {
        color: theme('colors.warning.100');
    }
    .text-default {
        color: theme('colors.black');
    }


    .border-primary {
        border-color: theme('colors.primary.500');
    }
    .border-secondary {
        border-color: theme('colors.secondary.500');
    }
    .border-tertiary {
        border-color: theme('colors.tertiary.500');
    }
    .border-info {
        border-color: theme('colors.info.400');
    }
    .border-success {
        border-color: theme('colors.success.400');
    }
    .border-danger {
        border-color: theme('colors.danger.400');
    }
    .border-warning {
        border-color: theme('colors.warning.400');
    }
    .border-default {
        border-color: theme('colors.default.500');
    }


    .fill-primary {
        fill: theme('colors.primary.500');
    }
    .shadow-primary {
        color: theme('colors.primary.500');
    }


    .primary {
        @apply bg-primary border-primary text-white;
    }
    .secondary {
        @apply bg-secondary border-secondary text-white;
    }
    .tertiary {
        @apply bg-tertiary border-tertiary text-white;
    }
    .info {
        @apply bg-info border-info text-info;
    }
    .success {
        @apply bg-success border-success text-success;
    }
    .warning {
        @apply bg-warning border-warning text-warning;
    }
    .danger {
        @apply bg-danger border-danger text-danger;
    }
    .default {
        @apply bg-default border-default text-default;
    }
    .tot {
        @apply bg-white dark:bg-dark-color-accent-9 border-light-palette-200 dark:border-dark-palette-700/70 text-light-palette-500 dark:text-dark-palette-300
    }
    .tot-s1 {
        @apply bg-light-palette-100 border-light-palette-100 text-light-palette-600 dark:bg-dark-palette-700 dark:text-dark-palette-200 dark:border-dark-palette-700
    }
    .tot-s2 {
        @apply bg-light-palette-300 border-light-palette-300 text-light-palette-700 dark:bg-dark-palette-500 dark:text-dark-palette-300 dark:border-dark-palette-500
    }
    .tot-s3 {
        @apply bg-light-palette-400 border-light-palette-400 text-light-palette-100 dark:bg-dark-palette-300 dark:text-dark-palette-500 dark:border-dark-palette-500
    }


}