@tailwind base;
@tailwind components;
@tailwind utilities;

$color: blue;
$bg: red;

.dark-background-color {
  @apply bg-slate-900;
}



.dot {
  background-color: currentColor;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 2px;
}

.dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot::nth-of-type(3) {
  animation-delay: 0.4s;
}

.dot.round {
  @apply rounded-full;
}

.dot-container.sm > * {
  @apply h-1 w-1;
}

.dot-container.md > * {
  @apply h-1.5 w-1.5;
}

.dot-container.lg > * {
  @apply h-2 w-2;
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


.ripple-button > .ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  content: "";
  //opacity: 1;
  border-radius: 9999px;
  //border: black;
  animation: ripple-effect 0.8s linear;
}


@keyframes ripple-effect {
    0% {
        background-color: rgba(255, 255, 255, 1);
        opacity: 0.3;
    }
    30% {
        transform: scale(10);
        opacity: 0.05;
    }
    100% {
        transform: scale(60);
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
    }
}

@layer base {

    body.loading * {
        transition: none !important;
    }

    /* :root {
        --site-background: 255 115 179;
        --color-secondary: 111 114 185;
    }*/

    .site-background {
        @apply bg-light-palette-50/40 dark:bg-dark-palette-900;
    }

    /* BG ACCENTS */
    .background-accent-1 {
        @apply bg-light-palette-50 dark:bg-dark-palette-800;
    }
    .background-accent-2 {
        @apply bg-light-palette-100 dark:bg-dark-palette-700;
    }
    .background-accent-3 {
        @apply bg-light-palette-200 dark:bg-dark-palette-600;
    }
    .background-accent-4 {
        @apply bg-light-palette-300 dark:bg-dark-palette-400;
    }
    .background-accent-5 {
        @apply bg-light-palette-400 dark:bg-dark-palette-400;
    }
    .background-accent-6 {
        @apply bg-light-palette-500 dark:bg-dark-palette-400;
    }
    .background-accent-7 {
        @apply bg-light-palette-600 dark:bg-dark-palette-400;
    }

    .background-accent-8 {
        @apply bg-light-palette-700 dark:bg-dark-palette-400;
    }
    .background-accent-9 {
        @apply bg-light-palette-800 dark:bg-dark-palette-400;
    }

    .background-accent-10 {
        @apply bg-light-palette-900 dark:bg-dark-palette-400;
    }

    /* BG LIGHT ACCENTS */

    .background-light-accent-1 {
        @apply bg-light-palette-50;
    }
    .background-light-accent-2 {
        @apply bg-light-palette-100;
    }
    .background-light-accent-3 {
        @apply bg-light-palette-200;
    }
    .background-light-accent-4 {
        @apply bg-light-palette-300;
    }
    .background-light-accent-5 {
        @apply bg-light-palette-400;
    }
    .background-light-accent-6 {
        @apply bg-light-palette-500;
    }
    .background-light-accent-7 {
        @apply bg-light-palette-600;
    }
    .background-light-accent-8 {
        @apply bg-light-palette-700;
    }

    .background-light-accent-9 {
        @apply bg-light-palette-800;
    }
    .background-light-accent-10 {
        @apply bg-light-palette-900;
    }

    /* BG DARK ACCENTS */
    .background-dark-accent-1 {
        @apply bg-dark-palette-50;
    }
    .background-dark-accent-2 {
        @apply bg-dark-palette-100;
    }
    .background-dark-accent-3 {
        @apply bg-dark-palette-200;
    }
    .background-dark-accent-4 {
        @apply bg-dark-palette-300;
    }
    .background-dark-accent-5 {
        @apply bg-dark-palette-400;
    }
    .background-dark-accent-6 {
        @apply bg-dark-palette-500;
    }
    .background-dark-accent-7 {
        @apply bg-dark-palette-600;
    }
    .background-dark-accent-8 {
        @apply bg-dark-palette-700;
    }
    .background-dark-accent-9 {
        @apply bg-dark-palette-800;
    }
    .background-dark-accent-10 {
        @apply bg-dark-palette-900;
    }



/* TEXT LIGHT ACCENTS */

    .text-light-accent-1 {
        @apply text-light-palette-50;
    }
    .text-light-accent-2 {
        @apply text-light-palette-100;
    }
    .text-light-accent-3 {
        @apply text-light-palette-200;
    }
    .text-light-accent-4 {
        @apply text-light-palette-300;
    }
    .text-light-accent-5 {
        @apply text-light-palette-400;
    }
    .text-light-accent-6 {
        @apply text-light-palette-500;
    }
    .text-light-accent-7 {
        @apply text-light-palette-600;
    }
    .text-light-accent-8 {
        @apply text-light-palette-700;
    }

    .text-light-accent-9 {
        @apply text-light-palette-800;
    }
    .text-light-accent-10 {
        @apply text-light-palette-900;
    }

    /* BG DARK ACCENTS */
    .text-dark-accent-1 {
        @apply text-dark-palette-50;
    }
    .text-dark-accent-2 {
        @apply text-dark-palette-100;
    }
    .text-dark-accent-3 {
        @apply text-dark-palette-200;
    }
    .text-dark-accent-4 {
        @apply text-dark-palette-300;
    }
    .text-dark-accent-5 {
        @apply text-dark-palette-400;
    }
    .text-dark-accent-6 {
        @apply text-dark-palette-500;
    }
    .text-dark-accent-7 {
        @apply text-dark-palette-600;
    }
    .text-dark-accent-8 {
        @apply text-dark-palette-700;
    }
    .text-dark-accent-9 {
        @apply text-dark-palette-800;
    }
    .text-dark-accent-10 {
        @apply text-dark-palette-900;
    }




    .site-foreground {
        @apply bg-white dark:bg-dark-palette-800;
    }

    .site-foreground-accent-1 {
        @apply bg-light-palette-200/40 dark:bg-dark-palette-700;
    }
    
    .site-foreground-accent-2 {
        @apply bg-light-palette-200 dark:bg-dark-palette-700;
    }

    .text-color {
        @apply text-light-text-900 dark:text-white/95;
    }

    .text-color-accent-1 {
        @apply text-light-text-600 dark:text-white/90;
    }

    .text-color-accent-2 {
        @apply text-light-text-500 dark:text-white/75;
    }

    .text-color-accent-3 {
        @apply text-light-text-400 dark:text-white/60;
    }

    .text-color-accent- {
        @apply text-light-text-400 dark:text-white/50;
    }

    .text-dark {
        @apply text-dark-text-800;
    }

    .text-light {
        @apply dark:text-white/90;
    }
}

@layer components {

    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        background-color: red;
    }


    /* TAG */

    .tag {
        @apply inline-flex items-center h-min border-1.5 cursor-default select-none transition;
    }


    /* TAG SIZE */

    .tag.size-xs {
        @apply text-xs font-normal h-6;
    }
    .tag.size-sm {
        @apply text-xs font-normal h-7;
    }
    .tag.size-md {
        @apply text-xs font-medium h-8;
    }
    .tag.size-lg {
        @apply text-sm font-medium h-9;
    }
    .tag.size-xl {
        @apply text-sm font-normal h-10;
    }
    .tag.fill {
        @apply text-sm font-normal w-full px-[8%] flex grow;
    }

    .tag.size-xs:not(.closable):not(.have-icon):not(.fill) {
        @apply px-2;
    }
    .tag.size-sm:not(.closable):not(.have-icon):not(.fill) {
        @apply px-2;
    }
    .tag.size-md:not(.closable):not(.have-icon):not(.fill) {
        @apply px-2.5;
    }
    .tag.size-lg:not(.closable):not(.have-icon):not(.fill) {
        @apply px-2.5;
    }
    .tag.size-xl:not(.closable):not(.have-icon):not(.fill) {
        @apply px-3;
    }
    

    .tag.size-xs.have-icon {
        @apply pl-10 pr-2;
    }
    .tag.size-sm.have-icon {
        @apply px-2;
    }
    .tag.size-md.have-icon {
        @apply px-2.5;
    }
    .tag.size-lg.have-icon {
        @apply px-2.5;
    }
    .tag.size-xl.have-icon {
        @apply px-3;
    }

    .tag.closable.size-xs:not(.icon-only):not(.fill) {
        @apply pl-2 pr-1;
    }
    .tag.closable.size-sm:not(.icon-only):not(.fill) {
        @apply pl-2 pr-1;
    }
    .tag.closable.size-md:not(.icon-only):not(.fill) {
        @apply pl-2.5 pr-1.5;
    }
    .tag.closable.size-lg:not(.icon-only):not(.fill) {
        @apply pl-3 pr-2;
    }
    .tag.closable.size-xl:not(.icon-only):not(.fill) {
        @apply pl-3.5 pr-2.5;
    }

    .tag.closable.size-xs.icon-only.closable {
        @apply pl-1.5 pr-1;
    }
    .tag.closable.size-sm.icon-only.closable {
        @apply pl-1.5 pr-1;
    }
    .tag.closable.size-md.icon-only.closable {
        @apply pl-2 pr-1.5;
    }
    .tag.closable.size-lg.icon-only.closable {
        @apply pl-2.5 pr-2;
    }
    .tag.closable.size-xl.icon-only.closable {
        @apply pl-2.5 pr-2.5;
    }



    /* TAG > Close Icon */

    .tag.size-xs .close-icon {
        @apply h-2.5 w-2.5;
    }
    .tag.size-sm .close-icon {
        @apply h-3 w-3;
    }
    .tag.size-md .close-icon {
        @apply h-3.5 w-3.5;
    }
    .tag.size-lg .close-icon {
        @apply h-3.5 w-3.5;
    }
    .tag.size-xl .close-icon {
        @apply h-4 w-4;
    }


    /* TAG > Close Button */

    .tag.close-button {
        @apply disabled:!bg-primary-500 inline-flex flex-shrink-0 items-center justify-center focus:text-white focus:outline-none;
    }
    .tag.size-xs .close-button {
        @apply h-3 w-3 ml-0.5;
    }
    .tag.size-sm .close-button {
        @apply h-3.5 w-3.5 ml-0.5;
    }
    .tag.size-md .close-button {
        @apply h-4 w-4 ml-0.5;
    }
    .tag.size-lg .close-button {
        @apply h-4 w-4 ml-1;
    }
    .tag.size-xl .close-button {
        @apply h-4 w-4 ml-1.5;
    }

    .tag.closable > button {
        @apply rounded flex-shrink-0 items-center justify-center inline-flex h-4 w-4;
    }

    .tag.closable.primary.contained > button {
        @apply hover:bg-primary-600/80;
    }
    .tag.closable.secondary.contained > button {
        @apply hover:bg-secondary-600/80;
    }
    .tag.closable.tertiary.contained > button {
        @apply hover:bg-tertiary-600/80;
    }
    .tag.closable.default.contained > button {
        @apply hover:bg-default-300/80;
    }
    .tag.closable.info.contained > button {
        @apply hover:bg-info-600/80;
    }
    .tag.closable.success.contained > button {
        @apply hover:bg-success-600/80;
    }
    .tag.closable.warning.contained > button {
        @apply hover:bg-warning-600/80;
    }
    .tag.closable.danger.contained > button {
        @apply hover:bg-danger-600/80;
    }


    .tag.closable.primary.outlined > button {
        @apply hover:bg-primary-200;
    }
    .tag.closable.secondary.outlined > button {
        @apply hover:bg-secondary-200/80;
    }
    .tag.closable.tertiary.outlined > button {
        @apply hover:bg-tertiary-200/80;
    }
    .tag.closable.default.outlined > button {
        @apply hover:bg-default-200/80;
    }
    .tag.closable.info.outlined > button {
        @apply hover:bg-info-200/80;
    }
    .tag.closable.success.outlined > button {
        @apply hover:bg-success-200/80;
    }
    .tag.closable.warning.outlined > button {
        @apply hover:bg-warning-200/80;
    }
    .tag.closable.danger.outlined > button {
        @apply hover:bg-danger-200/80;
    }


    .tag.closable.primary-light > button {
        @apply hover:bg-primary-100;
    }
    .tag.closable.secondary-light > button {
        @apply hover:bg-secondary-100;
    }
    .tag.closable.tertiary-light > button {
        @apply hover:bg-tertiary-100;
    }
    .tag.closable.default-light > button {
        @apply hover:bg-default-100;
    }
    .tag.closable.info-light > button {
        @apply hover:bg-info-100;
    }
    .tag.closable.success-light > button {
        @apply hover:bg-success-100;
    }
    .tag.closable.warning-light > button {
        @apply hover:bg-warning-100;
    }
    .tag.closable.danger-light > button {
        @apply hover:bg-danger-100;
    }


    /* TAG > Close Icon */

    .tag.size-xs:not(.icon-only) > .icon {
        @apply h-3 w-3 mr-1;
    }
    .tag.size-sm:not(.icon-only) > .icon {
        @apply h-3 w-3 mr-1;
    }
    .tag.size-md:not(.icon-only) > .icon {
        @apply h-3.5 w-3.5 mr-1.5;
    }
    .tag.size-lg:not(.icon-only) > .icon {
        @apply h-3.5 w-3.5 mr-1.5;
    }
    .tag.size-xl:not(.icon-only) > .icon {
        @apply h-4 w-4 mr-2;
    }

    .tag.size-xs > .icon {
        @apply h-3 w-3;
    }
    .tag.size-sm > .icon {
        @apply h-3 w-3;
    }
    .tag.size-md > .icon {
        @apply h-3.5 w-3.5;
    }
    .tag.size-lg > .icon {
        @apply h-3.5 w-3.5;
    }
    .tag.size-xl > .icon {
        @apply h-4 w-4;
    }

}

@layer utilities {

    .bg-primary {
        background-color: theme('colors.primary.500');
    }
    .bg-secondary {
        background-color: theme('colors.secondary.500');
    }
    .bg-tertiary {
        background-color: theme('colors.tertiary.500');
    }
    .bg-info {
        background-color: theme('colors.info.400');
    }
    .bg-success {
        background-color: theme('colors.success.400');
    }
    .bg-danger {
        background-color: theme('colors.danger.400');
    }
    .bg-warning {
        background-color: theme('colors.warning.400');
    }
    .bg-default {
        background-color: theme('colors.gray.200');
    }


    .text-primary {
        color: theme('colors.primary.100');
    }
    .text-secondary {
        color: theme('colors.secondary.100');
    }
    .text-tertiary {
        color: theme('colors.tertiary.100');
    }
    .text-info {
        color: theme('colors.info.900');
    }
    .text-success {
        color: theme('colors.success.900');
    }
    .text-danger {
        color: theme('colors.danger.900');
    }
    .text-warning {
        color: theme('colors.warning.100');
    }
    .text-default {
        color: theme('colors.black');
    }


    .border-primary {
        border-color: theme('colors.primary.500');
    }
    .border-secondary {
        border-color: theme('colors.secondary.500');
    }
    .border-tertiary {
        border-color: theme('colors.tertiary.500');
    }
    .border-info {
        border-color: theme('colors.info.400');
    }
    .border-success {
        border-color: theme('colors.success.400');
    }
    .border-danger {
        border-color: theme('colors.danger.400');
    }
    .border-warning {
        border-color: theme('colors.warning.400');
    }
    .border-default {
        border-color: theme('colors.default.300');
    }


    .fill-primary {
        fill: theme('colors.primary.500');
    }
    .shadow-primary {
        color: theme('colors.primary.500');
    }


    .primary.contained {
        @apply bg-primary border-primary text-white;
    }
    .secondary.contained {
        @apply bg-secondary border-secondary text-white;
    }
    .tertiary.contained {
        @apply bg-tertiary border-tertiary text-white;
    }
    .info.contained {
        @apply bg-info border-info text-info-50;
    }
    .success.contained {
        @apply bg-success border-success text-success-50;
    }
    .warning.contained {
        @apply bg-warning border-warning text-warning-50;
    }
    .danger.contained {
        @apply bg-danger border-danger text-danger-50;
    }
    .default.contained {
        @apply bg-default border-default text-default-400;
    }


    .primary.outlined {
        @apply bg-primary-50/50 border-1.5 dark:bg-transparent hover:bg-primary-500/10 border-primary-500 dark:border-primary-300 text-primary-500 dark:text-primary-300;
    }
    .secondary.outlined {
        @apply bg-secondary-50/50 border-1.5 dark:bg-transparent hover:bg-secondary-500/10 border-secondary-500 dark:border-secondary-300 text-secondary-500 dark:text-secondary-300;
    }
    .tertiary.outlined {
        @apply bg-tertiary-50/50 border-1.5 dark:bg-transparent hover:bg-tertiary-500/10 border-tertiary-500 dark:border-tertiary-300 text-tertiary-500 dark:text-tertiary-300;
    }
    .info.outlined {
        @apply bg-info-50/50 border-1.5 dark:bg-transparent hover:bg-info-500/10 border-info-500 dark:border-info-300 text-info-500 dark:text-info-300;
    }
    .success.outlined {
        @apply bg-success-50/50 border-1.5 dark:bg-transparent hover:bg-success-500/10 dark:border-success-300 border-success-500 text-success-500 dark:text-success-300;
    }
    .warning.outlined {
        @apply bg-warning-50/50 border-1.5 dark:bg-transparent hover:bg-warning-500/10 border-warning-500 dark:border-warning-300 text-warning-500 dark:text-warning-300;
    }
    .danger.outlined {
        @apply bg-danger-50/50 border-1.5 dark:bg-transparent hover:bg-danger-500/10 border-danger-500 dark:border-danger-300 text-danger-500 dark:text-danger-300;
    }
    .default.outlined {
        @apply bg-default-50/50 border-1.5 dark:bg-transparent hover:bg-default-500/10 border-default-300 text-default-500;
    }


    .primary-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-primary-300/10 border-primary-200 dark:border-primary-300 text-primary-400 dark:text-primary-300;
    }
    .secondary-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-secondary-300/10 border-secondary-200 dark:border-secondary-300 text-secondary-400 dark:text-secondary-300;
    }
    .tertiary-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-tertiary-300/10 border-tertiary-200 dark:border-tertiary-300 text-tertiary-400 dark:text-tertiary-300;
    }
    .info-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-info-300/10 border-info-200 dark:border-info-300 text-info-400 dark:text-info-300;
    }
    .success-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-success-300/10 dark:border-success-200 border-success-300 text-success-400 dark:text-success-300;
    }
    .warning-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-warning-300/10 border-warning-200 dark:border-warning-300 text-warning-400 dark:text-warning-300;
    }
    .danger-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-danger-300/10 border-danger-200 dark:border-danger-300 text-danger-400 dark:text-danger-300;
    }
    .default-light.outlined {
        @apply bg-transparent border-1.5 hover:bg-default-300/10 border-default-200 text-default-400;
    }


    .primary-light.contained {
        @apply bg-primary-200 border-primary-200 text-primary-500;
    }
    .secondary-light.contained {
        @apply bg-secondary-100 border-secondary-100 text-secondary-500;
    }
    .tertiary-light.contained {
        @apply bg-tertiary-100 border-tertiary-100 text-tertiary-500;
    }
    .info-light.contained {
        @apply bg-info-200 border-info-200 text-info-500;
    }
    .success-light.contained {
        @apply bg-success-200 border-success-200 text-success-600;
    }
    .warning-light.contained {
        @apply bg-warning-200 border-warning-200 text-warning-600;
    }
    .danger-light.contained {
        @apply bg-danger-200 border-danger-200 text-danger-500;
    }
    .default-light.contained {
        @apply bg-default-200 border-default-200 text-default-500;
    }

    
    .tot.contained {
        @apply bg-white dark:bg-dark-color-accent-9 border-light-palette-200 dark:border-dark-palette-700/60 text-light-palette-500 dark:text-dark-palette-200
    }
    .tot-s1.contained {
        @apply bg-light-palette-50 border-light-palette-50 text-light-palette-700 dark:bg-dark-palette-900 dark:text-dark-palette-100 dark:border-dark-palette-900
    }
    .tot-s2.contained {
        @apply bg-light-palette-100 border-light-palette-100 text-light-palette-600 dark:bg-dark-palette-800 dark:text-dark-palette-100 dark:border-dark-palette-800
    }
    .tot-s3.contained {
        @apply bg-light-palette-200 border-light-palette-200 text-light-palette-600 dark:bg-dark-palette-700 dark:text-dark-palette-200 dark:border-dark-palette-700
    }
    .tot-s4.contained {
        @apply bg-light-palette-300 border-light-palette-300 text-light-palette-600 dark:bg-dark-palette-600 dark:text-dark-palette-200 dark:border-dark-palette-600
    }
    .tot-s5.contained {
        @apply bg-light-palette-400 border-light-palette-400 text-light-palette-50 dark:bg-dark-palette-500 dark:text-dark-palette-200 dark:border-dark-palette-500
    }
    .tot-s6.contained {
        @apply bg-light-palette-500 border-light-palette-500 text-light-palette-100 dark:bg-dark-palette-400 dark:text-dark-palette-200 dark:border-dark-palette-400
    }
    .tot-s7.contained {
        @apply bg-light-palette-600 border-light-palette-600 text-light-palette-100 dark:bg-dark-palette-300 dark:text-dark-palette-600 dark:border-dark-palette-300
    }
    .tot-s8.contained {
        @apply bg-light-palette-700 border-light-palette-700 text-light-palette-100 dark:bg-dark-palette-200 dark:text-dark-palette-600 dark:border-dark-palette-200
    }
    .tot-s9.contained {
        @apply bg-light-palette-800 border-light-palette-800 text-light-palette-100 dark:bg-dark-palette-100 dark:text-dark-palette-600 dark:border-dark-palette-100
    }
    .tot-s10.contained {
        @apply bg-light-palette-900 border-light-palette-900 text-light-palette-100 dark:bg-dark-palette-50 dark:text-dark-palette-600 dark:border-dark-palette-50
    }
    

    .tot.outlined {
        @apply bg-transparent border-1.5 dark:bg-dark-color-accent-9 border-light-palette-200 dark:border-dark-palette-700/60 text-light-palette-500 dark:text-dark-palette-200
    }
    .tot-s1.outlined {
        @apply bg-transparent border-1.5 border-light-palette-200 text-light-palette-200 dark:bg-dark-palette-900 dark:text-dark-palette-100 dark:border-dark-palette-900
    }
    .tot-s2.outlined {
        @apply bg-transparent border-1.5 border-light-palette-200 text-light-palette-200 dark:bg-dark-palette-800 dark:text-dark-palette-100 dark:border-dark-palette-800
    }
    .tot-s3.outlined {
        @apply bg-transparent border-1.5 border-light-palette-200 text-light-palette-200 dark:bg-dark-palette-700 dark:text-dark-palette-200 dark:border-dark-palette-700
    }
    .tot-s4.outlined {
        @apply bg-transparent border-1.5 border-light-palette-300 text-light-palette-300 dark:bg-dark-palette-600 dark:text-dark-palette-200 dark:border-dark-palette-600
    }
    .tot-s5.outlined {
        @apply bg-transparent border-1.5 border-light-palette-400 text-light-palette-400 dark:bg-dark-palette-500 dark:text-dark-palette-200 dark:border-dark-palette-500
    }
    .tot-s6.outlined {
        @apply bg-transparent border-1.5 border-light-palette-500 text-light-palette-500 dark:bg-dark-palette-400 dark:text-dark-palette-200 dark:border-dark-palette-400
    }
    .tot-s7.outlined {
        @apply bg-transparent border-1.5 border-light-palette-600 text-light-palette-600 dark:bg-dark-palette-300 dark:text-dark-palette-600 dark:border-dark-palette-300
    }
    .tot-s8.outlined {
        @apply bg-transparent border-1.5 border-light-palette-700 text-light-palette-700 dark:bg-dark-palette-200 dark:text-dark-palette-600 dark:border-dark-palette-200
    }
    .tot-s9.outlined {
        @apply bg-transparent border-1.5 border-light-palette-800 text-light-palette-800 dark:bg-dark-palette-100 dark:text-dark-palette-600 dark:border-dark-palette-100
    }
    .tot-s10.outlined {
        @apply bg-transparent border-1.5 border-light-palette-900 text-light-palette-900 dark:bg-dark-palette-50 dark:text-dark-palette-600 dark:border-dark-palette-50
    }


}